%main
  - date_fmt = "%Y/%m/%-d"
  - if @date
    - if @date.day != 1
      - date_str = @date.prev_day.strftime(date_fmt)
      %a#link-prev{href: to(date_str)}= "#{date_str}の記事一覧"

  - if @calendar
    %h2<& #{@calendar.title} の記事
  - if @user
    %h2<& #{@user.name} の記事
  - if @date
    %h2<
      %time= @date.strftime('%Y/%m/%d')

  - if @date
    - if @date.day != 25
      - date_str = @date.next_day.strftime(date_fmt)
      %a#link-next{href: to(date_str)}= "#{date_str}の記事一覧"
    - if Date.today.day == 25
      Merry christmas!

  -# %h1 Qiita Advent Calendar
  - if @articles.empty?
    %div.no-article
      記事がありません
  - else
    %table#articles
      %thead
        %tr
          - unless @theme
            %th.theme Theme
          - unless @date
            %th.date Date
          %th.title Article
          %th.writer Writer
      - @articles.each do |article|
        - calendar = article.calendar
        - writer = article.writer
        %tr
          - unless @theme
            %td.theme<
              = article.calendar.title
          - unless @date
            %td.date<
              = article.date.strftime(date_fmt)
          %td.title
            %a{href: article.url}>= article.title
          %td.writer
            %a.writer{href: writer.url}>= writer.name
